.active {
  color: #F7537C !important;
}

.nav-center {
  margin-left: 25%;
}

.line-height {
  line-height: 1.7;
}

.is-gray {
  background-color: gainsboro;
}

.margin-top {
  margin-top: -66px;
}

.white-color {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .nav-center {
    margin-left: 0;
  }
}