@import "~bulma-extensions/bulma-carousel/dist/bulma-carousel.min.css";

.active {
  color: #F7537C !important;
}

.nav-center {
  margin-left: 35%;
}

.line-height {
  line-height: 1.7;
}

.is-gray {
  background-color: gainsboro;
}

.margin-top {
  margin-top: -66px;
}

.white-color {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .nav-center {
    margin-left: 0;
  }
}

.background-black{
  background-color: black;
}

.h-500 {
  height: 500px;
}

.is-256 {
  width: 285px;
}

.is-300 {
  width: 300px;
}

.contact-banner {
  width:100%;
  padding:1px 0 36% 0;
  background:url("/img/contact-us.jpg") no-repeat top;
  background-size:100% auto;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #B73330;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}